.logout-btn{
  background:#1AAB8A;
  color:#fff;
  border:none;
  height:50px;
  font-size:1.6em;
  cursor:pointer;
  transition:800ms ease all;
	outline:none;
	border-radius: 10px;
	display: block;	
}	

.logout-btn:hover{
  background:#fff;
  color:#1AAB8A;
}
.logout-btn:before,.logout-btn:after{
  content:'';
  top:0;
  right:0;
  height:2px;
  width:0;
	background: #1AAB8A;
	transition:400ms ease all;
}

.logout-btn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.logout-btn:hover:before,.logout-btn:hover:after{
  width:100%;
  transition:800ms ease all;
}
